body{
    margin: 0;
    padding-top: 56px;
    padding-left: 157px ;
    padding-right: 180px;
    box-sizing: border-box;
    width: 100vw;
    max-height: 1000vh;
    background: linear-gradient(
        to right,
        #FFF3E4 0%,
        #FFF3E4 50%,
        #FFF3E4 50%,
        #FFF3E4 100%
    );

}

.label-radio{
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

}
.label-radio::before{
  content: '';
  display: inline-flex;
  border: 1px solid orange;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
}


.custom-radio::before{
  content: '';
  display: inline-flex;
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: orange;
  position: absolute;
  top: 10%;
  left: 2px
}
.label-radio > input[type='radio']{
    display: none;
}

.label-radio > input[type='radio']:checked + .custom-radio::before{
  opacity: 1;
  transition: all .2s ease-in;
}


