body{
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  max-height: 200vh;
  background: linear-gradient(
  to right,
  #FFF3E4 0%,
  #FFF3E4 50%,
  #FFF3E4 50%,
  #FFF3E4 100%
);
border: 1px solid  #FFF3E4;
border-radius: 0% 0% 50% 50% / 15% 14% 100% 100% ;

}



.radio{
display: none;
}
.radio_label{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.radio_label::before{
content: '';
display: inline-flex;
align-items: center;
width: 30px;
height: 30px;
border-radius: 50%;
border: 2px solid orange;
scale: .7;


}
.checker::before{
content: '';
width: 24px;
height: 24px;
display: none;
background-color: orange;
border-radius: 50%;
position: absolute;
top: 0.18em;
left: 0.18em;
scale: .7;

}
.radio:checked + .checker::before{
  display: inline-flex;
}



.bg-addquiz{
background-color: rgba(244, 140, 6, 0.1);
}










.slide-in {
  animation: slideInAnimation .3s  forwards;
}
@keyframes slideInAnimation {
  0% {
    max-height: 60em;
  }
  100% {
      max-height: 0em;
  }
}
.slide-out{
  animation: slideOutAnimation .3s  forwards;
}
  @keyframes slideOutAnimation {
      0% {
          max-height: 0em;
      }
      100% {
          max-height: 60em;
      }
    }
